<h2>Решатель судоку</h2>
<input type="file" (change)="fileChanged($event)">
<input type="button" (click)="showTask()" value="показать">
<input type="button" (click)="solveTask()" value="решить">
<hr>
<ng-container *ngIf="mustDrawTask && canDrawTask">
  <table>
    <ng-container *ngFor="let row of task; let i = index">
      <tr>
        <ng-container *ngFor="let col of task[0]; let j = index">
          <td>{{task[i][j]}}</td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</ng-container>
