table {
  width: 300px; /* Ширина таблицы */
  border: 2px solid black; /* Рамка вокруг таблицы */
  margin: auto; /* Выравниваем таблицу по центру окна  */
}

td {
  text-align: center; /* Выравниваем текст по центру ячейки */
}
